# Privy Authentication (https://dashboard.privy.io)
NEXT_PUBLIC_PRIVY_APP_ID=

# Supabase (https://supabase.com/dashboard)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Trustless Work Escrow (https://trustlesswork.com)
NEXT_PUBLIC_TW_API_KEY=

# Stellar Network ("testnet" | "public")
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_MAINNET_RPC_URL=

# WalletConnect (https://cloud.walletconnect.com)
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=8d234c919d5c4146a782b78a2e106da4

# Local encryption salt (opcional)
NEXT_PUBLIC_APP_ENCRYPTION_SALT=
